.aboutUs {
  align-items: center;
  width: 100%;
}

.aboutUs__card1 {
  padding: 1rem 0rem;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.aboutUs__card1__img {
  height: auto;
  width: 400px;
  object-fit: contain;
}

.aboutUs__card2{

}

.aboutUs__card2__img {
  width: 80%;
  margin: 2rem auto;
}

.aboutUs__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem
}

.aboutUs__text p {
  text-align: justify;
}
