
.buttonAsLink {
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--SECVI);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 0.02rem;
  text-decoration: none;
}
.buttonAsLink:hover {
  color: var(--SECDV);
}
.buttonAsLink:active {
  color: var(--LINK-ACTIVE);
}
