.buttonStyle3 {
  min-height: 3rem;
  min-width: 200px;
  background-color: rgb(21,116,204);
  background-color: var(--clr-400);
  color: white;
  border-radius: .5rem;
  width: 100%;
}

.buttonStyle3:hover {
  color: var(--clr-black);
  transform: translate(0, -0.15rem);
  font-weight: 900;
}
