.buttonStyle2 {
  min-height: 3rem;
  min-width: 200px;
  background-color: var(--clr-100) ;
  padding: 0rem .5rem;
}

.buttonStyle2:hover {
  color: var(--clr-black);
  transform: translate(0, -0.15rem);
  font-weight: 900;
}
