.contact-pre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  align-items: baseline;
  padding-top: 5rem;
}

.contact-pre input {
  min-width: 300px;
}

.contact-post {
  font-size: var(--fs-600)
}

.contact__msg {
  flex-basis: 50%;
  min-width: 200;
  max-width: 400px;
}

.contact__form {
  flex-basis: 50%;
  overflow: hidden;
  min-width: 200;
  max-width: 400px;
}

@media (min-width: 50em) {
  .contact-pre {
    flex-direction: row;
  }
}
