.footer {
  position: absolute;
  bottom: 0px;
  padding: 5px 0px;
  z-index: 2;
  margin: 0px;
  width: 100%;
  background-color: var(--clr-300);
  text-align: center;
  font-size: var(-fs-300);
  color: var(--clr-900);
}
