
.home {
}

.home__banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5rem 0 .25rem 0;
  background-color: rgb(246,167,163);
  padding: 1rem .25rem;
  border: 3px solid black;
}

.home__banner-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1rem;
}

.home__banner-text p {
  line-height: 1;
  color: var(--clr-500);
  font-weight: bold;
  font-size: var(--fs-300);
}

.home__banner-close {
  position: relative;
}

.home__banner-close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(.2rem, -1rem);
}

.home__modalButton__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0 .5rem 0;
}

.home a {
  color: var(--clr-400)
}

.home__card1, .home__card2  {
  display: flex;
  justify-content: center;
}

.home__card1__img, .home__card2__img {
  width: auto;
  height: auto;
}

.home__links-wrapper {
  padding: 1rem;
}

.home__link{
  text-align: center;
  margin: .5rem
}

.home__about-us p{
  text-align: justify;
}
.home__about-us ul {
  padding-left: 1.75rem
}

.home__about-us p {
  margin: 1rem .125rem;
}

.home__about-us li {
  margin: .25rem 0;
  line-height: 1.6;
}

