
.home {
}

.home a {
  color: var(--clr-400)
}

.home__card1, .home__card2  {
  display: flex;
  justify-content: center;
}

.home__card1__img, .home__card2__img {
  width: auto;
  height: auto;
}

.home__links-wrapper {
  padding: 1rem;
}

.home__link{
  text-align: center;
  margin: .5rem
}

.home__about-us p{
  text-align: justify;
}
.home__about-us ul {
  padding-left: 1.75rem
}

.home__about-us p {
  margin: 1rem .125rem;
}

.home__about-us li {
  margin: .25rem 0;
  line-height: 1.6;
}

