html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: var(--PRI30);
  background-image: linear-gradient(to bottom, var(--clr-100), #FFF);
  display: flex;
  justify-content: center;
}

/* the main Font Family for body has larger than normal text for 16px so my presets for body rem will calculate for 14px base font sizing */

body {
  font-family: var(--FF1) ;
  font-size: 14px;
  color: var(--clr-500);
  background-color: var(--clr-700) ;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  max-width: var(--maxWidthBody);
  box-shadow: 0 0 15px var(--clr-300);
  display: flex;
  justify-content: center;
  position: relative;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 50em) {
  body {
    width:100vw
  }
}
