.mainContentContainer {
  height: 100%;
  width: 96.5%;
  margin-top: calc(var(--headerSize) + .5rem );
  margin-bottom: 12rem;
}

.mainContentContainer a {
  text-decoration: underline;
}

.mainContentContainer a:hover,
.mainContentContainer a:focus-visible {
  text-decoration: underline;
}
