.mainContentContainer {
  height: 100%;
  width: 96.5%;
  margin: calc(var(--headerSize) + 1.5rem ) auto 12rem auto;
}

.mainContentContainer a {
  text-decoration: underline;
}

.mainContentContainer a:hover,
.mainContentContainer a:focus-visible {
  text-decoration: underline;
}
