.mainContentContainer {
  height: 100%;
  width: 96.5%;
  padding: calc(var(--headerSize) + 1.5rem ) auto 12rem auto;
  border: 5px solid blue
}

.mainContentContainer a {
  text-decoration: underline;
}

.mainContentContainer a:hover,
.mainContentContainer a:focus-visible {
  text-decoration: underline;
}

