
  /* hide */
.navBar {
  display: none;
}

@media (min-width: 50em) {
  /* un-hide */
  .navBar {
    display:flex
  }

  .navBar {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    background-color: var(--clr-700);
    align-items: center;
    border-bottom:20px solid var(--clr-300);
    overflow: hidden;
  }


  .navBar a{
    border: 1px solid var(--clr-100);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    width: 12.5%;
    letter-spacing: 0rem;
    width: 100%;
    height: 100%;
    font-size: var(--fs-300);
  }

  .navBar a:hover,
  .navBar a:focus-visible {
    background-color: var(--clr-100);
    transform: none;
    font-weight:normal;
  }
}

