.navMobileWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navMobile {
  height:120%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow: hidden;
}

.navMobile a {
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--fs-650);
}
