.reviews-wrapper {
  display: flex;
  flex-direction: column;
}

.review-card {
  width: 100%;
  height: auto;
}

.review-card > img {
  object-fit: contain;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.singleReview {
  flex-basis: 28%;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.singleReview:hover {
  background-color: var(--clr-300);
  transform: translate(0, -0.57rem);
  border: 2;
}

.review__card__img {

  margin: 1.5rem auto;
}

@media (min-width: 50em) {
  .reviews-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .review-card {
    width: 30%;
    height: auto;
    margin: .5rem;
  }

  .review-card > img {
    object-fit: contain;
  }
}

@media (min-width: 80em) {
  .singleReview {
    width: 75%;
    margin: auto;
  }
}
