.singleKitten {
  flex-basis: 28%;
  border: solid black 1px;
  background-color: var(--clr-100);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  padding: 0.5rem 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.singleKitten:hover {
  background-color: var(--clr-300);
  transform: translate(0, -0.57rem);
  /* box-shadow: 2px -5px 5px 1px var(--clr-300); */
  border: 2px solid var(--clr-100);
}

.singleKitten div > p {
  text-align: left;
  flex-grow: 1;
  text-align: center;
}

.singleKitten__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleKitten__card__img {
  object-fit: contain;
  width: auto;
  height: auto;
  float: left;
  border-radius: 1.5rem 1.5rem 0 0;
  transform: translate(0, -9px);
}

.singleKitten__button {
  display: flex;
  align-items: flex-end;
}
