@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Comfortaa&display=swap');


/* || RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
  /* this preset was added later but broke the css of the navbar: todo: investigate */
}

textarea {
  max-width: 200px;
}

label {
  font-size: var(--fs-400);
  display: block;
  margin: 0.15rem;
}

input {
  border-radius: .33rem;
  border-color: var(--clr-800);
}

select {
  min-width: 120px;
}

p, span {
  line-height: 1.6;
  display: block;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

*::after,
*::before {
  box-sizing: border-box;
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  animation-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

/* // VARIABLES */

:root {
  /* COLORS */

  /* base */
  --clr-500: hsl(184,57%,23%);
  --clr-400: #FFA69E;
  /* light */
  --clr-100: hsl(6,94%,92%);
  --clr-200: #DDFFF7;
  --clr-300: #93E1D8;
  /* dark and greys */
  --clr-700: #EBECF0;
  --clr-750: #d1cfc8;
  --clr-800: rgb(105,105,105);
  --clr-900: #000080;
  /* white black */
  --clr-white: #FFF;
  --clr-black: #000;

  /*Font Families*/
  --FF1: 'Comfortaa', Arial, Sans-Serif;
  --FF2: 'Cinzel', Arial, Sans-Serif;
  --FF3: Arial, Sans-Serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  /* Font Sizes */
  /* 13, 14, 16!1rem etc */
  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-650: 1.5rem;
  --fs-700: 2.0rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-primary-heading: var(--fs-650);
  /* --fs-secondary-heading: var(--fs-700);
  --fs-body: var(--fs-400) ;
  --fs-nav: var(--fs-500) ;
  --fs-button: var(--fs-400) */

  /* Other */

  --maxWidthBody: 57.15em;
  --headerSize: 107px;
}

@media (min-width: 50em) {
  :root {
    --fs-300: .75rem;
    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-650: 1.5rem;
    --fs-700: 2.0rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    -fs-primary-heading: var(--fs-900);
    --headerSize: 178px;
    /* -fs-secondary-heading: var(--fs-800);
    -fs-body: var(--fs-500) ;
    -fs-nav: var(--fs-400) ;
    -fs-button: var(--fs-400) */
  }
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.visually-unhidden {
  position:static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: auto;
  clip: auto;
  white-space: normal;
  border: none;
}

.required::after{
  content: " *";
  color: red;
}

/* headers */


h1, h2, h3, h4, h5, h6 {
  font-family: var(--FF2);
  letter-spacing: 0.01em;
  color: var(--clr-500);
}
#h1 {
  font-weight: 650;
  font-size: var(--fs-primary-heading);
}

h2{
  font-size: var(--fs-900);
}

h3{
  font-size: var(--fs-800);
}

h4{
  font-size: var(--fs-650);
}

/* h6 will be for errors */
h6{
  color:red;
}

/* links */
a:any-link {
  text-decoration: none;
  color: var(--clr-800);
  font-weight: 400;
  letter-spacing: 0.02rem;
}

a:hover, a:focus-visible {
  color: var(--clr-800);
}

a:active {
  color: var(--clr-500);
}
