@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Comfortaa&display=swap');


/* || RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
  /* this preset was added later but broke the css of the navbar: todo: investigate */
}

textarea {
  max-width: 302px;
}

label {
  font-size: .6rem;
  display: block;
}

select {
  min-width: 120px;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

*::after,
*::before {
  box-sizing: border-box;
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  animation-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

/* // VARIABLES */

:root {
  /*Font*/
  --FF: 'Comfortaa', cursive;
  --FF2: 'Cinzel', cursive;
  --FS: clamp(1rem, 1.8vh, 1.5rem);

  /* COLORS */

  --PRI60: #FFA69E;
  --PRI30: #DDFFF7;
  --PRI10: #93E1D8;
  --SECVI: #000080;
  --SECDV: #02075d;
  /* --SECVI: #9B26B6; */
  /* --SECDV: #7600A9; */

  /* base */
  --clr-500: hsl(184,57%,23%);
  --clr-400: #FFA69E;

  /* light */
  --clr-100: hsl(6,94%,92%);

  /* dark */
  --clr-900: #000080;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: var(--PRI30);
  background-image: linear-gradient(to bottom, var(--PRI60), #FFF);
  font-weight: 300;
}

body {
  font-size: var(--FS);
  font-family: var(--FF) ;
  background-color: var(--PRI60) ;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
  /* background-color: var(--PRI60); */
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 15px var(--BORDER-COLOR);
  display: flex;
  position: relative;
}

#root {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--FF2);
  letter-spacing: 0.01em;
  font-weight: 200;
  color: var(--clr-500);
  margin: 0px;
}
#h1 {
  transform: translateY(-8px);
  font-weight: 559;
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

p, span {
  line-height: 1.4;
}

a:any-link {
  text-decoration: none;
  color: var(--clr-900);
  font-weight: 800;
  letter-spacing: 0.02rem;
}

a:hover, a:focus-visible {
  color: var(--clr-300);
}

a:active {
  color: var(--clr-100);
}
