
.topMenu {
  width: 100%;
  align-items: center;
  background-color: var(--PRI10);
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;
  font-size: var(--FS);
  height: 30px;
  padding-top: 18px;
}

.topMenu div{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

}

.topMenu div div {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;

}

