.topNav {
  display: flex;
  background-color: var(--clr-300);
  width: 100%;
}

.topMenu {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 96px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.topMenu div,
.topMenu h1{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topMenu__links {
  width: 100%;
  display: flex;
}

.topMenu__links a {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
}

.topMenu__links a:hover {
  color: var(--clr-black);
}

@media (min-width: 50em) {
  .topMenu__links {
    width: 80%;
  }

  .topNav {
    display: block;
  }

  .icon-hamburger-wrapper {
    display: none;
  }
}

