.topMenu {
  width: 100%;
  align-items: center;
  background-color: var(--clr-300);
  text-align: center;
  height: 80px;
  display: flex;
}

.topMenu div{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

}

.topMenu div div {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;

}

