.waitingList__form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.waitingList-left,
.waitingList-right {
  flex-basis: 45%;
}

.waitingList input {
  min-width: 200px;
}

.waitingList input[type='checkbox'] {
  min-width: auto;
}

.waitingList__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  padding-left: .5rem;
}

.apply-header {
  text-align: center;
  font-size: var(--fs-900);
  font-family: var(--FF2);
  color: var(--clr-500);
  padding: 0.25rem;
  letter-spacing: 0.01em;
  margin: 0;
}

.cq-furcolors-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cq-single-color-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.cq-single-color-wrapper input {
  height: auto;
  width: auto;
}

.cq-furcolors-wrapper label {
  display: inline;
}

.cq-form-buttons-top {
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
}

.waitingList ul {
  font-size: var(--fs-200);
  line-height: 1.6;
  list-style: none;
  text-align: center;
  width: 70%;
  margin: 1rem auto;
}

.waitingList__already-approved {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waitingList-description {
  text-align: justify;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 50em) {

}

@media (min-width: 670px) {
  .waitingList__form {
    flex-direction: row;
  }
}
