.waitingList input {
  min-width: 200px;
}

.waitingList__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  padding-left: .5rem;
}

@media (min-width: 50em) {
  .waitingList {
    padding-left: 4rem;
  }
}
